.firstFloorBackground {
  background-image: url("../../img/firstFloorBack.jpg");
  background-position: center;
  background-size: cover;
}
.smallHouseBackground {
  background-image: url("../../img/smallHouseBack.jpg");
  background-position: left;
  background-size: cover;
}
.mainText {
  font-family: "Overpass";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  background-color: white;
  text-align: center;
  padding: 15px;
}
.firstFloorDescription {
  margin: 0 0 0 100px;
  width: 700px;
}
.roomPrices {
  margin: 100px 0 0 170px;
  width: 420px;
}
.contentWrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 0;
}
.image7 {
  max-width: 700px;
  margin: -50px 0 0 150px;
}
.image8 {
  max-width: 600px;
  margin: 280px 0 0 20px;
}
.image9 {
  max-width: 600px;
  margin: 20px 0 0 650px;
}
.image13{
    max-width: 600px;
    margin: 0 100px 0 0;
}
.secondFloorBackground {
  background-image: url("../../img/stairs.jpg");
  background-position: center;
  background-size: cover;
}
.smallHouseBackgroundStairs {
  background-image: url("../../img/stairs2.jpg");
  background-position: center;
  background-size: cover;
}
.gallery {
  margin: 200px auto;
}
@media screen and (max-width: 1350px) {
  .image9 {
    margin: 20px 0 0 300px;
  }
}
@media screen and (max-width: 1050px) {
  .image9 {
    display: block;
    margin: 20px auto;
  }
  .image13{
    margin: 20px auto;
  }
  .image8 {
    margin: 180px 0 0 20px;
  }
  .firstFloorDescription,
  .firstFloorDescription {
    margin: 0 auto;
  }
}
@media screen and (max-width: 770px) {
  .image7,
  .image8,.image13{
    display: block;
    margin: 20px auto;
  }
  .firstFloorDescription {
    margin: 80px auto 0;
  }
}
@media screen and (max-width: 720px) {
  .image9,
  .image8,
  .image7,
  .image13,
  .firstFloorDescription,
  .firstFloorDescription {
    width: 100%;
  }
  .roomPrices {
    margin: 20px auto;
  }
}
@media screen and (max-width: 430px) {
  .roomPrices {
    width: 100%;
  }
  .secondFloorDescription {
    margin: -10px auto 0;
  }
}
