---
import EnglishMainPage from "../../content/EnglishMainPage";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/styles/index.css" rel="stylesheet" />
    <link href="/styles/MainPageTitle.css" rel="stylesheet" />
    <link href="/styles/mainBackground.css" rel="stylesheet" />
    <link href="/styles/Navigation.css" rel="stylesheet" />
    <link href="/styles/LanguageSwitcher.css" rel="stylesheet" />
    <meta
      name="description"
      content="Panorama Magura - hotel in Ukrainian Carpathians"
    />
    <title>Panorama Magura</title>
  </head>
  <body><EnglishMainPage /></body>
</html>
