---
import UkrainianAboutUsPage from "../content/UkrainianContent/UkrainianAboutUsPage";
import UkrainianNavigationTop from "../components/UkrainianNavigationTop";
import MainColorBack from "../components/MainColorBack";
import Logo from "../components/Logo";
import UkrainianFooter from "../components/UkrainianFooter";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/styles/index.css" rel="stylesheet" />
    <link href="/styles/AboutUs.css" rel="stylesheet" />
    <link href="/styles/mainBackground.css" rel="stylesheet" />
    <link href="/styles/Navigation.css" rel="stylesheet" />
    <link href="/styles/Logo.css" rel="stylesheet" />
    <link href="/styles/Footer.css" rel="stylesheet" />
    <meta
      name="description"
      content="Panorama Magura - hotel in Ukrainian Carpathians"
    />
    <title>Panorama Magura</title>
  </head>
  <body>
    <MainColorBack>
      <Logo client:load /><UkrainianNavigationTop
        client:load
      /><UkrainianAboutUsPage client:load />
    </MainColorBack>
    <UkrainianFooter client:load />
  </body>
</html>
