.navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    position: absolute;
    bottom:10px;
    padding: 0 100px;
}
.link, .link:hover, .link:active{
    text-decoration: none;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
}