.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    padding: 20px 0;
}
.map{
    width: 400px;
    height: 400px;
    display: block;
    margin: 0 auto;
}
.title{
    font-family: 'Overpass';
font-style: normal;
font-weight: 500;
font-size: 25px;

color: #2E2C2C;
}
.subTitle{
    font-family: 'Overpass';
font-style: normal;
font-weight: 400;
font-size: 20px;
width: fit-content;
margin: 0 auto;
color: #2E2C2C;
text-decoration: none;
}
@media screen and (max-width: 750px) {
   .wrapper{
       padding: 80px 0 30px 0;
   }
}